/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 20;
}

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';


.item {
	padding: 20;
}

.heading {
	font-size: 25px;
	font-weight: bold;
	padding: 10;
}

.item-header {
	font-weight: bold;
	font-size: 20px;
}

.item-row {
	font-size: 17px;
}

.btn-facebook {
	background-color: #365899;
	color: #fff;
}

.btn-logout {
	background-color: red;
	color: #fff;
}

.profile {
	text-align: center;
}